coverage
dataclasses
dotenv
falcon>=2.0.0
fastcluster
gunicorn; platform_system != "Windows"
picblocks>=1.1.2
pymongo
pyparsing>=3
pytest
pytest-cov
mmh3>=2.5.1
numpy<2.0.0
rapidfuzz
requests
scipy
lief>=0.16.0
smda>=1.13.19
tqdm
waitress
werkzeug
